.page-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.multiple-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.single-product {
display: flex;
flex-direction: row;
gap: 1rem;
align-items: flex-start;
}

.single-product-card-description {
    flex-grow: 1;
    padding-top: 10px;
    line-height: 1.6;
    font-size: 1rem;
}
